.debtor-list {
  background: #fff;
  padding: 20px 20px 40px 20px;
  border-radius: 5px;
  margin-bottom: 35px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05), -1px 0 0 rgba(0, 0, 0, 0.04), 1px 0 0 rgba(0, 0, 0, 0.04), 0 1px 3px rgba(0, 0, 0, 0.12);
  overflow: hidden;

  table {
    display: block;

    thead {
      display: block;
      background-color: #fbfbfb;
    }

    tbody {
      display: block;
    }

    tr {
      display: block;
    }

    th {
      font-weight: 500;
    }

    th, td {
      padding: 15px 0px;
      width: 200px;

      &:first-child {
        padding-left: 20px;
      }
    }

    th, td {
      color: #444;
    }
  }

  #cta-panel {
    margin-top: 60px !important;
    text-align: center;

    .button {
      float: none !important;
    }
  }
}
