#how-it-works {
  a {
    display: block;
  }

  .how-it-works {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05), -1px 0 0 rgba(0, 0, 0, 0.04), 1px 0 0 rgba(0, 0, 0, 0.04), 0 1px 3px rgba(0, 0, 0, 0.12);
    margin-bottom: 35px;
    margin-top: 40px;
    overflow: hidden;
  }

  .how-it-works .header {
    background: #222223;
    color: #fff;
    text-align: center;
    padding: 30px 160px 50px;

    h1 {
      border-radius: 6px;
      border: 1px solid #fff;
      display: inline-block;
      font-size: 24px;
      font-weight: normal;
      padding: 8px 12px;
    }

    p {
      margin: 15px 30px;
    }

    .how-it-works-section-header {
      &:first-of-type {
        margin-top: 20px;
      }
    }

    .arrow-down {
      font-size: 25px;
    }

    a.header-button {
      display: inline-block;
      padding: 12px 20px;
      border-radius: 6px;
      text-transform: uppercase;
      margin-bottom: 5px;
      color: #fff;

      img {
        height: 25px;
        padding-right: 10px;
      }

      &:hover {
        text-decoration: none;
      }

      &.blue {
        background: #a0d1ca;
      }

      &.dark-grey {
        background: #7A7D7C;
      }

      &.grey {
        background: #A2AAAD;
      }

      &.white {
        background: #FFFFFE;
        color: #223741;
      }
    }
  }

  .how-it-works .main-content {
    padding: 20px 20px 40px 20px;

    .tagline {
      text-align: center;
    }

    h5.center {
      text-align: center;
      font-weight: normal;
      text-decoration: underline;
      font-size: 16px;
      margin: 45px 0 30px;
    }

    .faqs {
      margin: 30px 0 20px;
      padding-left: 1em;

      p {
        font-weight: bold;
      }
    }
  }
}
