.xero-connect {
  .blue-help-box {
    h5 {
      margin-top: 0;
    }

    border: 1px solid #bee1f3;
    background: #f8fdfe;
    padding: 20px 22px 18px 22px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 30px;

    p {
      display: inline-block;
      margin: 0;
    }

    span {
      font-size: 18px;
      color: #185A99;
    }
  }
}
