#signup {

  h3.logo img {
    width: 200px;
  }

  ul.form-errors {
    list-style-type: none;
    padding: 10px;
    border: 1px solid #ebccd1;
    border-top: 6px solid #ebccd1;
    border-radius: 5px;
    background-color: #f2dede;
    margin-bottom: 30px;

    p {
      padding-bottom: 3px;
      display: inline-block;
      font-weight: bold;
      color: #a94442;
      border-bottom: 2px solid #ebccd1;
    }

    li {
      color: #a94442;
    }
  }
}
