#file-uploads {
  button {
    visibility: hidden;
  }

  .dragdrop {
    width: 100%;
    min-height: 150px;
    padding-top: 60px !important;
  }

  .doc-preview {
    padding-left: 0;

    a {
      height: 200px;
      padding-top: 75px;
      color: #333;

      &:hover {
        color: #333;
        border: 1px solid #333;
      }

      span {
        display: block;
      }
    }
  }
}

.back-link {
  a.edit-debtor {
    margin-top: -7px;
  }
}

.progress-bar {
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}
