.debtor-section {
  padding-top: 10px;
}

.debtor-table {
  margin-bottom: 30px;
}

.back-link {
  float: right;
  font-size: 16px;
  font-weight: normal;
}

.edit-link {
  float: right;
  font-size: 16px;
  font-weight: normal;
  margin-right: 10px;
}

table td.view-link {
  text-align: right;
  a.view-file {
    padding-right: 10px;
  }
}
