#footer
  .container
    .row
      .col-sm-3.copyright
        Skippr Ltd 2016
      .col-sm-9.menu
        %ul
          %li
            = link_to 'About us', "http://www.skippr.com.au/about-us", target: "_blank"
          = nav_link 'FAQ', "http://www.skippr.com.au/about-skippr"
          = nav_link 'Privacy', "http://www.skippr.com.au/privacy-policy"
          = nav_link 'Terms', "http://www.skippr.com.au/general-conditions"
