%title= yield(:title).presence || "Skippr | Take control of your cashflow"
%meta{:content => yield(:meta_keywords).presence || "Cash Flow, Cash Flow Forecast, Invoice Finance", :name => "keywords"}/
%meta{:content => yield(:meta_description).presence || "Skippr enables a business to take control and optimise their cash flow. Empowering SMEs to be ambitious with smart and simple tools.", :name => "description"}/
%meta{:content => yield(:meta_author).presence || "Skippr", :name => "author"}/
