#faq-content
  .container.index
    .col-sm-4
      = link_to "About Skippr", "#about-skippr"
    .col-sm-4
      = link_to "Eligibility", "#eligibility"
    .col-sm-4
      = link_to "The Process", "#the-process"
  .container
    .col-md-12
      %hr

  .container
    .col-sm-12
      %h3#about-skippr About Skippr

      %p.qa
        %strong
          What is invoice financing?

      %p
        Invoice financing involves converting invoices into cash. Businesses borrow money against their debtor’s ledger (‘invoice discounting’) or they sell their invoices to a 3rd party (‘factoring’). In 2014 Australian businesses raised $63bn in funding from invoice financing.

      %p.qa
        %strong
          What is Skippr?

      %p
        Skippr is an online invoice funding platform enabling you to accelerate payments from your invoices. You can seamlessly trade your invoices to unlock funding and improve your liquidity.

      %p.qa
        %strong
          What are the benefits of using Skippr?

      %p
        Skippr offers a simple funding solution that enables you to control your cash flow. Through our funding platform you can get cash upfront from unpaid invoices allowing your business to take on more employees, tender for bigger deals or increase its inventory.

      %p.qa
        %strong
          Does Skippr give me a loan?

      %p
        No. We provide an advance on your approved invoices and in doing so purchase the right to receive proceeds of the invoice from your customer. Upon payment your customer will simply remit the amount due to the lock-box account we hold in your name.

      %p.qa
        %strong
          Is Skippr a factoring Company?

      %p
        We consider Skippr to be a hybrid model. You are selling invoices through our platform however we don’t take control of the accounts receivable function of your business. In other words we don’t chase your customers for invoice payments. It is important you maintain that relationship! Furthermore, there are no locked in contracts, no application fees, no non-usage fees or exit charges.

      %h3#eligibility Eligibility

      %p.qa
        %strong
          Is my business eligible to work with Skippr?

      %p
        To apply for an account with Skippr you need to meet the following requirements:
        %ul
          %li Australian registered business.
          %li Provide products or services to other businesses.

      %p.qa
        %strong
          Do I need accouting software to use Skippr?

      %p
        No. You can manually apply to Skippr and upload invoices manually on your dashboard.

      %p.qa
        %strong
          Which customers can I register on the platform?

      %p
        Skippr will assess each customer and invoice on a case-by-case basis. Upon registering the customer on the platform, we will assess their creditworthiness to determine a probability of default on payment. An approved customer means approved invoices from that customer can be traded. 

      %p.qa
        %strong
          How much funding can I access?

      %p
        There is no formal limit with our product. Your level of funding is dependant on invoices being approved.
      %p
        A funding cap may be enforced if there is little trading history with you and with your customer or level of invoice verification is weak.
      %p
        Higher exposures are provided with track record and providing security. No property security is required.

      %p.qa
        %strong
          I’ve been denied by the bank for a loan, can I still get funding from Skippr?

      %p
        Yes. We assess risk differently from a bank. While we take credit history into consideration, we focus more on the creditworthiness of your customers and the quality of the specific invoices we are funding against.

      %h3#the-process The Process

      %p.qa
        %strong
          What information do you need about my business?

      %p
        To understand who you are we need:
        %ul
          %li A copy of your last filed accounts - Income Statement and Balance Sheet.
          %li The last 3 months’ bank statements.
          %li Information about one Director including TFN.
      %p
        The information you provide is used to verify your identity and understand risk. It is stored in accordance with our strict Privacy Policy and encrypted to make sure it is always safe and secure.

      %p.qa
        %strong
          Why do I need to provide you with my financial information?

      %p
        This financial information tells a story about your business and the relationship you have with your customer. The better we understand this story the faster and more competitive funding becomes.

      %p
        We keep all your financial information secured on our encrypted cloud server. Your business information is not shared with any external parties.

      %p.qa
        %strong
          Why should I connect my accounting platform to Skippr?

      %p
        Connecting your accounting platform to Skippr makes the application and operation of our product far more seamless for you and us and improves transparency so we can give you more competitive funding rates.

      %p.qa
        %strong
          Do I have to sign a long-term contract?

      %p
        Don’t be silly! We operate a fund-as-you-need, pay-as-you-go model. There are no locked in contracts or unused facility fees.

      %p#invoices-funded.qa
        %strong
          How are invoices funded?

      %p
        A Seller creates a trade by selecting approved invoices they want to sell. The Seller then views the details of trade and presses ‘Sell Now’.  Next Skippr transfers the advance amount less ‘Exchange Fee’ directly to the Seller’s nominated bank account within 24 hours.

      %p#sellers-fees.qa
        %strong
          What are the Sellers’ fees on Skippr?

      %p
        Skippr is a pay-as-you-use model. We charge three fees when you unlock funding. 
        %ul
          %li Exchange Fee - flat fee set once approved. It is charged against the ‘face value’ of selected invoices. Charged upon funds being advanced.
          %li Discount Fee - variable fee set once invoice is ‘rated’. It is charged against ‘advanced’ funds. On average the fee is 1% per 30 days. Accrues daily up until date of payment. Fee is taken out of invoice residual.
          %li Transaction Fee - flat fee of $50 charged upon funds being advanced to ensure you receive funding within 24 hours.
      %p
        Important: all fees are known before you unlock funding

      %p#how-do-we-rate-invoices.qa
        %strong
          How do we rate invoices?

      %p
        Our rating system is taking into consideration a number of variables related to your business, your customer, the sector and the nature of the invoices. Your track record of selling invoices on the platform is also important in determining how we rate invoices.

      %p#will-skippr-contact-my-customers.qa
        %strong
          Will Skippr contact my customers?

      %p
        Yes. Skippr reserves the right to contact customers as part of our invoice verification procedure. In practice this process is soft touch. We just need to be aware of an invoice’s status in a transparent manner. Get in touch with us if you want to learn more about the verification process.

      %p#invoices-verified.qa
        %strong
          Why do invoices have to be verified?

      %p
        We need to confirm your invoice is going to be paid by your customer. The more transparent this process is, the lower the risk of default, which in turn allows you to unlock more funding upfront at more competitive rates.

      %p#funding-from-different-customers.qa
        %strong
          Can I unlock funding from multiple invoices from different customers?

      %p
        Yes. Once the invoices are approved, you can select any invoice from any customer you would like to fund as part of a trade and then click ‘Sell Now’.

      %p#can-i-have-a-confidential-service-with-skippr.qa
        %strong
          Can I have a confidential service with Skippr?

      %p
        Yes. You can have a confidential service where your customers are not aware you are using Skippr. This service is provided on a case-by-case basis. Providing a confidential service is dependent on the performance of your business, track record with your customer and the quality of your debtor. Usually a confidential service will require a General Securities Agreement (GSA) over the business.

      %p#access-funds.qa
        %strong
          How do I access my funds?

      %p
        Once you have confirmed the trade, we will begin processing the funds. We endeavour to transfer the funds to your business’ account within 24 hours. We will remit the funds to your main operating account, which you have provided in the application process.

      %p.qa
        %strong
          How does the platform handle settlement once the invoice has been paid by the debtor?

      %p
        The debtor will pay the invoice into the lock-box account which is a segregated trust account administered by the Australian Executer Trustees (AET). Skippr will instruct AET to make payments to your business account in accordance with the contractual arrangements.

      %p#invoice-lock-box-1.qa
        %strong
          Why do invoices have to be paid into the lock-box account?

      %p
        The lock-box account is a risk management tool used by Skippr instead of requiring that you provide us with personal guarantees or property security. Important to note that this lock-box account is in trust to your business. If Skippr was to cease trading, you have right to any funds remaining after any outstanding funding and fees are covered.

      %p#invoice-lock-box-2.qa
        %strong
          Do I need to have all invoices paid into this lock-box account?

      %p
        Yes we recommend you do. The main reason you have all invoices related to the particular customer paid into the lock box account is to save on administrative hassle. You or your customer do not want to be switching payment accounts each time you fund an invoice. Furthermore transactions clearing via this account also builds transactional track record which can improve terms of funding.

      %p
        Important to note, that all funds that arrive in this account are reconciled and cleared daily. You will be alerted whenever funds arrive into the account.

      %p#can-still-trade-invoice.qa
        %strong
          What if I have already submitted my invoice. Can I still trade it?
      %p
        Yes. If the invoice is still within terms of payment, you can still unlock funding from it. You will need to ask your customer to confirm they will pay the invoice to the lock-box account prior to trading the invoice.

      %p#residual-amount.qa
        %strong
          When do I get the residual amount of the invoice?

      %p
        Once the invoice is paid by your customer into the lock-box account, we will calculate the residual and transfer funds to you withinin 24 hours.

      %p#invoice-collection.qa
        %strong
          Who is responsible for collection of the invoice?

      %p
        You are primarily responsible for the collection of the invoice as it is important to maintain the relationship between you and your customer.
      %p
        Maintaining transparency is important. You should keep Skippr up to date on any changes relating to the payment of the invoice.
      %p
        In the ultimate worst-case scenario where we do not hear from you regarding the status of an overdue invoice, we do have the right to contact your customer to clarify its position.

      %p.qa
        %strong
          My customer paid me directly, what should I do?

      %p
        You should notify us as soon as possible of the misdirection and then credit what is due on the trade. To maintain good standing on the platform this should be done within 24 hours. Next time you fund from that customer, we will require clear confirmation that the bank details have been updated.

      %p.qa
        %strong
          What happens if my customer doesn’t pay?

      %p
        In the event your customer doesn’t pay the invoice, you are required to repay the advance plus accrued fees. You can repay in full or enrol in an instalment plan.

.container{ style: "padding: 0 30px; margin-top: 30px;" }
  %hr
