.client-testimonial {
  color: white;
  padding: 160px 0;

  background-image: url('https://wac.A8B5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/ipad-img-9ace0a7565928412cfbad7724d36a276.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;

  h2 {
    margin-bottom: 20px;
  }

  p {
    color: rgba(255,255,255,0.6);
    margin-bottom: 20px;
  }
}
