.home {
  header {
    color: white;

    background-image:url(https://wac.a8b5.edgecastcdn.net/80A8B5/static-assets/assets/new-marketing/hero-img-49f554ac42434661d12cfe0d22959847.jpg);
    // background-image:url(http://i.istockimg.com/file_thumbview_approve/21236493/2/stock-photo-21236493-sharing-our-business-skills.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 150px;
    display: block;
    // padding-top: 35px;

    .welcome-text {
      max-width: 720px;
      p {
        max-width: 600px;
        padding: 10px 0;
        color: rgba(255,255,255,0.7);
      }
    }

    .cta {
      a {
        margin-right: 10px;
      }
    }
  }
}
