.delete-widget {

  .widget-container {
    padding-top: 20px;
    background-color: #f9f9f9;

    a {
      margin-top: 10px;
    }
  }

  .widget-container.medium-widget {
    padding-top: 20px;

    h3 {
      margin-bottom: 10px;
    }

    a.sml-widget {
      margin-top: 10px;
    }
  }
}
