Congratulations!

#{@invoice.debtor.legal_business_name} has paid invoice ##{@invoice.invoice_no}
into the trust account held by PostInvoice. The amount paid was #{number_to_currency(@invoice.face_value, precision: 0)}.
You will receive the upfront payment amount plus a buyers discount fee.
PostInvoice will subtract an exchange fee from this amount.

The Post Invoice Team
