!!!
%html
  %head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hi #{@recipient.name.split(' ').first},

    %p
      Congratulations!

    %p
      You have been accepted to buy invoices on PostInvoice.

    %p
      There is just one more step before you can start buying invoices;

    %p
      Please sign the Sales and Purchase Agreement attached to this email and
      return to 1403/81 Macleay Street Potts Point, Sydney 2011.

    %p
      Once we have the signed Sales and Purchase Agreement your PostInvoice
      account will be activated and you can then start bidding on invoices.

    %p
      If you have any questions, please contact us at info@postinvoice.com.au

    %p
      The Post Invoice Team
