Hi #{@recipient.name.split(' ').first},

Thank you for signing up to PostInvoice. A member of our team will contact
you shortly.

PostInvoice is a new way for small businesses to turn their invoices
into cash.

The Post Invoice Team
