!!!
%html
  %head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hi #{@recipient.name.split(' ').first},
    %p
      Thank you for signing up to PostInvoice. A member of our team will contact
      you shortly.

    %p
      %em
        PostInvoice is a new way for small businesses to turn their invoices
        into cash.

    %p
      The Post Invoice Team
