Congratulations!

Your offer to sell invoice was successful.

You will receive the upfront payment amount of 
= number_to_currency(@upfront_payment) 
into the following account before close of business on the next working day.

Bank account name:
= @seller.seller_company.bank_details.account_name
Bank account no:
= @seller.seller_company.bank_details.account_number

If this amount is not paid into your nominated account by the close of
the next working day, can you please notify the exchange immediately via
email to the following email address: info@postinvoice.com.au

PostInvoice will notify you once payment has been received by the trust
account held on the platform. Please see the following link to exchange
rules on fee structure. (www.postinvoice.com.au/feestructure.)

The Post Invoice Team
