Congratulations!

#{@invoice.debtor.legal_business_name} has paid invoice ##{@invoice.invoice_no} into the trust account held by PostInvoice.
A rebate payment less the exchange fee and less buyers discount fee has been deposited into your nominated account.

The Post Invoice Team
