= form.hidden_field :buyer_id, value: params[:id]
.form-group
  = form.label :total_cash, "Amount", class: "col-sm-2 control-label"
  .col-sm-4
    = form.text_field :total_cash, class: "form-control"
