.row.header
  .col-md-12
    %h3.logo
      = link_to 'Skippr', signed_out_root_path
    %h4 We've received your application!

.row
  .col-md-12
    .wrapper.clearfix
      .formy
        .row
          .col-md-12{ style: "text-align: center" }
            %p
              Thank you for taking the time to sign up for Skippr.
            %p
              Our team is committed to helping you access funds in your invoice
              and will be in contact within 24hrs.

